<include file="Index/header" />
<body>
<div id="wrapper" class="container">
    <include file="Index/nav"/>
    <div id="page-wrapper" class="page-wrapper">
        <div class="container-home">
            <p class="breadcrumb"><i></i>平台整理指标</p>
            <div class="form-wrapper">
                <form method="post" class="form-box" id="form-addMenu">
                    <input type="hidden" name="menu_id" value="{$menu.menu_id}"/>
                    <div>
                        <label for="formTextName" class="form-label">菜单名:</label>
                        <input type="text" name="name" class="form-text" placeholder="请填写菜单名" id="formTextName" value="{$menu.name}">
                    </div>
                    <div>
                        <label class="form-label">菜单类型:</label>
                        <div class="form-radio-box">
                            <input type="radio" value="1" name="type" class="form-radio" id="form-radio-after" <eq name="menu.type" value="1"> checked="checked"</eq>/>
                            <label for="form-radio-after"></label>
                        </div>
                        <label for="form-radio-after">后台菜单</label>
                        <div class="form-radio-box">
                            <input type="radio" value="0" name="type" class="form-radio" id="form-radio-before" <eq name="menu.type" value="0"> checked="checked"</eq>/>
                            <label for="form-radio-before"></label>
                        </div>
                        <label for="form-radio-before">前端菜单</label>
                    </div>
                    <div>
                        <label for="formTextM" class="form-label">模块名:</label>
                        <input type="text" name="m" class="form-text" placeholder="模块名如admin" id="formTextM" value="{$menu.m}">
                    </div>
                    <div>
                        <label for="formTextC" class="form-label">控制器名:</label>
                        <input type="text" name="c" class="form-text" placeholder="控制器名如index" id="formTextC" value="{$menu.c}">
                    </div>
                    <div>
                        <label for="formTextA" class="form-label">操作方法名:</label>
                        <input type="text" name="f" class="form-text" placeholder="操作方法如add" id="formTextA" value="{$menu.f}">
                    </div>
                    <div>
                        <label class="form-label">状态:</label>
                        <div class="form-radio-box">
                            <input type="radio" value="1" name="status" class="form-radio" id="form-radio-start" <eq name="menu.status" value="1"> checked="checked"</eq>/>
                            <label for="form-radio-start"></label>
                        </div>
                        <label for="form-radio-start">开启</label>
                        <div class="form-radio-box">
                            <input type="radio" value="0" name="status" class="form-radio" id="form-radio-close" <eq name="menu.status" value="0"> checked="checked"</eq>/>
                            <label for="form-radio-close"></label>
                        </div>
                        <label for="form-radio-close">关闭</label>
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="btn-submit" id="submit-add">修改</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<include file="Index/footer"/>
<script type="text/javascript">
    var SCOPE = {
        'save_url' : "/imoocnews/admin/menu/add",
        'jump_url' : "/imoocnews/admin/menu/index",
    }
</script>
