<include file="Index/header" />
<body>
<div id="wrapper" class="container">
    <include file="Index/nav"/>
    <include file="PositionContent/main"/>
</div>
<include file="Index/footer"/>
<script type="text/javascript">
    var SCOPE = {
        'add_url' : "/imoocnews/admin/positioncontent/add",
        'edit_url' : "/imoocnews/admin/positioncontent/edit",
        "set_status_url":"/imoocnews/admin/positioncontent/setstatus",
        "listorder_url":"/imoocnews/admin/positioncontent/listorder",
    }
</script>
