<div id="page-wrapper" class="page-wrapper">
    <div class="container-home">
        <p class="breadcrumb"><i></i>推荐位内容管理</p>
        <div class="btn-wrapper">
            <a href="javascript:void(0);"class="btn-add btn-listorder" id="btn-listorder"><i></i>更新排序</a>
            <a href="javascript:void(0);"class="btn-add" id="btn-Add"><i></i>添加</a>
            <form action="/imoocnews/admin/positioncontent/index" method="get" class="sreach-form">
                <span class="span-1">
                    <label for="">推荐位</label>
                    <select name="position_id" class="sreach-input" >
                        <option value="">选择搜索推荐位</option>
                        <foreach name="positions" item="position">
                            <option value="{$position.id}" <eq name="positionId" value="$position.id">selected="selected"</eq>>
                                {$position.name}
                            </option>
                        </foreach>
                    </select>
                </span>
                <span>
                    <input type="text" name="title" value="{$title}" class="sreach-input" style="margin-left:20px;" placeholder="文章标题">
                </span>
                <span>
                    <input type="submit" class="btn-submit" value="">
                </span>
            </form>
        </div>
        <div class="table-wrapper">
            <form id="form-table">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <th colspan="1">排序</th>
                    <th colspan="1">id</th>
                    <th colspan="1">标题</th>
                    <th colspan="1">时间</th>
                    <th colspan="1">封面图</th>
                    <th colspan="1">状态</th>
                    <th colspan="1">操作</th>
                </tr>
                <volist name="positioncontents" id="positioncontent">
                    <tr>
                        <td width="10"><input size="4" type="text" name="listorder[{$positioncontent.id}]" value="{$positioncontent.listorder}"/></td>
                        <td>{$positioncontent.id}</td>
                        <td>{$positioncontent.title}</td>
                        <td>{$positioncontent.create_time|date="Y-m-d H:i:s",###}</td>
                        <td>
                            {$positioncontent.thumb|isThumb}
                        </td>
                        <td>
                            <span class="btn-status" atr-id="{$positioncontent.id}" atr-message="是否更改状态" atr-status=<eq name="positioncontent.status" value="0">1<else/>0</eq>>{$positioncontent.status|getStatus}</span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="btn-update" id="btn-Update-{$positioncontent.id}" title="编辑" atr-id="{$positioncontent.id}"><i></i></a>
                            <a href="javascript:void(0)" class="btn-delete" id="btn-Delete-{$positioncontent.id}" title="删除" atr-id="{$positioncontent.id}" atr-message="是否确定删除"><i></i></a>
                        </td>
                    </tr>
                </volist>
            </table>
            </form>
            <div class="page-box">
                {$resPage}
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
