<div class="right-area">
    <div class="right-title">
        <h3>文章排行</h3>
        <span>TOP ARTICLES</span>
    </div>
    <div class="right-content">
        <ul>
            <foreach name="result.listRankNews" item="vo" key="k">
                <li class="num{$k+1}">
                    <a href="__ROOT__/home/detail/index/id/{$vo.news_id}">{$vo.title}</a>
                    <div class="intro">{$vo.description}</div>
                </li>
            </foreach>
        </ul>
    </div>
    <!-- 文章排行结束 -->
    <volist name="result.rightPicNews" id="vo">
        <div class="right-hot">
            <a target="_blank" href="__ROOT__/home/detail/index/id/{$vo.news_id}">
                <img src="{$vo.thumb}" alt="{$vo.title}">
            </a>
        </div>
    </volist>
    <!-- 右侧广告位结束 -->
</div>
<!-- 右侧区域结束 -->