<include file="Index/header" />
<body>
<div id="wrapper" class="container">
    <include file="Index/nav"/>
    <div id="page-wrapper" class="page-wrapper">
        <div class="container-home">
            <p class="breadcrumb"><i></i>文章添加</p>
            <div class="form-wrapper">
                <form method="post" class="form-box" id="form-add">
                    <input type="hidden" name="news_id" value="{$news.news_id}">
                    <div>
                        <label for="formTextTitle" class="form-label">标题:</label>
                        <input type="text" name="title" class="form-text" placeholder="请填写文章标题" id="formTextTitle" value="{$news.title}">
                    </div>
                    <div>
                        <label for="formTextSmallTitle" class="form-label">短标题:</label>
                        <input type="text" name="small_title" value="{$news.small_title}" class="form-text" placeholder="请填写文章短标题" id="formTextSmallTitle">
                    </div>
                    <div>
                        <label for="file_upload" class="form-label">缩略图:</label>
                        <div class="thumb_box" style="display:inline-block;vertical-align:top;width:50%;min-width:400px;">
                            <input id="file_upload"  type="file" multiple="true" id="file_upload">
                            <img id="upload_org_code_img" src="{$news.thumb}" width="150" height="150" {$news.thumb|getImgShow}>
                            <input id="file_upload_image" name="thumb" type="hidden" multiple="true" value="{$news.thumb}">
                        </div>
                    </div>
                    <div>
                        <label for="video_upload" class="form-label">视频:</label>
                        <div class="thumb_box" style="display:inline-block;vertical-align:top;width:50%;min-width:400px;">
                            <input type="file" multiple="true" id="video_upload">
                            <!--<img style="display:none" id="upload_org_code_video" src="" width="150" height="150">-->
                            <input id="file_upload_video" value="{$news.video}" class="form-text" name="video" type="text" multiple="true" value="" placeholder="视频URL地址">
                        </div>
                    </div>
                    <div>
                        <label for="formSelectColor" class="form-label">标题颜色:</label>
                        <select class="form-select" name="title_font_color" id="formSelectColor">
                            <option value="">==请选择颜色==</option>
                            <foreach name="titleColor" item="color">
                                <option value="{$key}" {$news.title_font_color|getTitleColor=$key,###}>{$color}</option>
                            </foreach>
                        </select>
                    </div>
                    <div>
                        <label for="formSelectCatid" class="form-label">所属栏目:</label>
                        <select class="form-select" name="catid" id="formSelectCatid">
                            <foreach name="webSiteMenu" item="sitenav">
                                <option value="{$sitenav.menu_id}" <eq name="news.catid" value="$sitenav.menu_id">selected="selected"</eq>>{$sitenav.name}</option>
                            </foreach>
                        </select>
                    </div>
                    <div>
                        <label for="formSelectCopyfrom" class="form-label">来源:</label>
                        <select class="form-select" name="copyfrom" id="formSelectCopyfrom">
                            <foreach name="copyFrom" item="cfrom">
                                <option value="{$key}" <eq name="news.copyfrom" value="$key">selected="selected"</eq>>{$cfrom}</option>
                            </foreach>
                        </select>
                    </div>
                    <div>
                        <label for="editor_singcms" class="form-label">内容:</label>
                        <div style="display: inline-block;vertical-align: text-top">
                            <textarea class="input js-editor" id="editor_singcms" name="content" rows="20">{$newscontent.content}</textarea>
                        </div>
                    </div>
                    <div>
                        <label for="formTextDescription" class="form-label">描述:</label>
                        <input type="text" name="description" value="{$news.description}" class="form-text" placeholder="描述" id="formTextDescription">
                    </div>
                    <div>
                        <label for="formTextKeywords" class="form-label">关键字:</label>
                        <input type="text" name="keywords" value="{$news.keywords}" class="form-text" placeholder="关键字" id="formTextKeywords">
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="btn-submit" id="submit-add">提交</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<include file="Index/footer"/>
<script src="__PUBLIC__/js/kindeditor/kindeditor-all.js"></script>
<script src="__PUBLIC__/js/admin/image.js"></script>
<script type="text/javascript">
    var SCOPE = {
        'save_url' : "/imoocnews/admin/content/add",
        'jump_url' : "/imoocnews/admin/content/index",
        "ajax_upload_image_url":"/imoocnews/admin/image/ajaxuploadimage",
        "ajax_upload_video_url":"/imoocnews/admin/video/ajaxuploadvideo",
        "ajax_upload_swf_path":"__PUBLIC__/js/party/uploadify.swf",
    }
    //6.2
    KindEditor.ready(function(K) {
        window.editor = K.create('#editor_singcms',{
            uploadJson : '/imoocnews/admin.php?c=image&a=kindupload',
            afterBlur : function(){this.sync();}, //this.sync();同步KindEditor的值到textarea文本框
        });
    });
</script>
