<include file="Index/header" />
<body>
<div id="wrapper" class="container">
    <include file="Index/nav"/>
    <include file="Content/main"/>
</div>
<include file="Index/footer"/>
<script type="text/javascript">
    var SCOPE = {
        'add_url' : "/imoocnews/admin/content/add",
        'edit_url' : "/imoocnews/admin/content/edit",
        "set_status_url":"/imoocnews/admin/content/setstatus",
        "listorder_url" : "/imoocnews/admin/content/listorder",
        "position_url":"__ROOT__/admin/content/push",
    }
</script>
