<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html,charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name = "format-detection" content="telephone = no" />
    <title>News内容管理平台</title>
    <!--引用CSS-->
    <import type="css" file="css.normalize"/>
    <import type="css" file="css.main"/>
    <link rel="stylesheet" href="__PUBLIC__/css/party/uploadify.css"/>
    <!--引用JS-->
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <import file="js.dialog.layer" />
    <import file="js.dialog" />
    <script type="text/javascript" src="__PUBLIC__/js/party/jquery.uploadify.js"></script>
    <import file="js.admin.login" />
</head>